h1 {
    font-family: 'Roboto','sans-serif';
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 70%;
    // align-items: center;
}

.inning {
    color: #8b75b5;
}

mat-card {
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.otherbuttons {
    margin-top: 20px;
}