<div *ngIf="!showCommentEntry">
  <h1>Ongoing Matches</h1>
  <mat-nav-list>
    <mat-list-item *ngFor="let match of ongoingMatches | async" (click)="onClick(match)">
      <a>{{ match.team1 }} vs {{ match.team2 }}</a>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>

  <div *ngIf="noMatches">
    <h3>There are no ongoing matches. Refresh the page to go back.</h3>
  </div>
</div>
<div *ngIf="showCommentEntry">
  <!-- <app-comment-entry [match]="selectedMatch" [matchKey]="selectedMatch.dbKey"></app-comment-entry> -->
</div>