h1 {
    font-weight: lighter;
    margin-top: 30px !important;
    font-family: 'Roboto','sans-serif';
    margin: 20px 0px 20px 20px;
    text-align: center;
}
mat-nav-list {
    margin-left: 20px;
    mat-list-item {
        display: flex;
        justify-content: center;
        a {
            font-size: 1.5rem;
        }    
    }
    mat-list-item:hover {
        color: brown;
    }
}
