$navcolor : #ffc1f7;// #2ccbf7;
// $navtextcolor: 
p {
    margin-left: 20px;
}

.container {
    display:flex;
    flex-direction: column;
    mat-toolbar {
        display: flex;
        // width: 100%;
        // justify-content: center;
        background-color: $navcolor;
    }
    h1 {
        margin-top: 0px;
        margin-left: 20px;
        color: #7c1019;
    }
    min-height: 100vh;
    background-color: white !important;

    .matches {
        display: flex;
        overflow: auto;
        min-height: 120px;
        border-bottom: solid 1px black;
        mat-card {
            min-width:200px;
            height: 87%;
            padding-top: 15px;
            padding-bottom: 0px;
        }
        mat-card:hover {
            background-color: lightblue;
        }
        .toss {
            font-size: x-small;
            font-weight: lighter;
            color:lightcoral;
        }
        .result {
            font-size: x-small;
            font-weight: lighter;
            color:lightgreen;
        }
        .bowler {
            margin-top:10px;
            color: grey;
        }
        
    }
}

footer {
    // align-self: flex-end;
    // width: 100%;
    margin-top: auto;
    height: 50px;
    background-color: #7a345d;
    display: flex;
    justify-content: center;
}