/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    padding: 0px;
    margin: 0px;
    min-height: 100%;
}
html {
    height: 100vh;
}
.mat-app-background {
    background-color: #ba99f7;
}